<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<form th:object="${user}" th:action="@{/save}" method="POST">

    <b>Nombre(s):</b>
    <div>
        <input type="text" th:field="*{firstName}"></input>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Errors</span>
    </div>
    <br>
    <b>Apellidos:</b>
    <div>
    <input type="text" th:field="*{lastName}"></input>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Errors</span>
    </div>

    <br>
    <b>Nombre usuario:</b>
    <div>
    <input type="text" th:field="*{userName}"></input>
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Errors</span>
    </div>

        <br>
    <b>Contraseña:</b>
    <div>
    <input id="userPassword" name="userPassword" type="password"></input>
    <span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Errors</span>
    </div>
        <br>

<input type="submit" value="Registrarse">
</form>
</body>
</html>