<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<body>
<div class="container">
    <form class="form-horizontal" th:action="@{/admin/restaurant/save}" enctype="multipart/form-data" method="POST">
        <br/>
        <div class="py-5 text-center blue">
            <h1>EDIT RESTAURANT</h1>
        </div>
        <br/>
        <input type="hidden" name="id" th:value="${restaurant.id}"/>

        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input type="text" name="name" th:value="${restaurant.name}" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                <textarea name="description" th:text="${restaurant.description}" id="description" class="form-control"
                          rows="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Categories:</label>
            <div class="col-xs-2" th:each="category : ${restaurantCategories}">
                <input th:if=" ${restaurant.categories.contains(category)}" type="checkbox" name="categories"
                       id="category" th:value="${category.id}" th:text="${category.name}" checked="checked"/>

                <input th:if=" ${!restaurant.categories.contains(category)}" type="checkbox" name="categories"
                       id="categories" th:value="${category.id}" th:text="${category.name}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">City:</label>
            <div class="col-sm-10">
                <select name="city" id="city" class="form-control">
                    <option th:each="city : ${cities}"
                            th:value="${city.id}"
                            th:text="${city.name}"
                            th:selected="${city.id} == ${restaurant.city.id}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Images:</label>

            <div class="row">
                <input type="file" name="file" th:value="${restaurant.photo}" id="photo" class="form-control"
                       multiple="multiple"/>
                <div class="col-sm-6 col-md-3">
                    <div class="card" th:each="photo : ${photos}">
                        <img class="thumbnail" th:src="@{'data:image/jpg;base64,' +  ${photo}}"/>
                    </div>
                </div>
            </div>
            <div th:each="image : ${images}">
                <a th:href="${'/restaurant/delete/photo/' + image.id}">Eliminar </a>
            </div>

        </div>

        <div class="text-center">
            <button type="sumbit" value="save" class="btn btn-primary btn-lg">SAVE</button>
        </div>
    </form>
</div>
</body>
</html>