<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous"/>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/restaurants">Admin Home</a>
    <button class="btn btn-default navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">User Home</a>
    <button class="btn btn-default navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="right">
            <li class="title">
                <h1 style="color: white; text-align: center">The RestaWeb</h1>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <form class="form-horizontal">
        <h1 th:text="${restaurant.name}" align="center"></h1>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-1"><b>Likes:</b></label>
                <p class="col-md-1" th:text="${likes}"></p>
                <label class="control-label col-md-1"><b>Score:</b> </label>
                <p class="col-md-1" th:text="${averageScore}"></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2"><b>Description: </b></label>
                <p class="col-md-8" th:text="${restaurant.description}"></p>
            </div>
        </div>

        <div th:if="${#lists.size(restaurant.categories)}" class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2"><b>Categories:</b></label>
                <ul th:each="category: ${restaurant.categories}">
                    <li th:text="${category.name}"></li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 ">
                <label class="control-label col-md-1"><b>City: </b></label>
                <p class="col-md-10" th:text="${restaurant.city.name}"></p>
            </div>
        </div>

        <div th:if="${#lists.size(photos)}" class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2"><b>Photos: </b></label>
                <div th:each="photo : ${photos}">
                    <img th:src="@{'data:image/jpg;base64,' +  ${photo}}" width="400"/>
                </div>
            </div>
        </div>

        <div th:if="${#lists.size(restaurant.comments)}" class="form-group">
            <div class="col-md-10">
                <label class="control-label"><b>Comments:</b></label>
            </div>
        </div>

        <div th:each="comment : ${restaurant.comments}" class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a th:href="${'/user/view/' + comment.user.id}"><b  th:title="${comment.user.username}" th:text="${comment.user.username}"></b></a>
                        <span class="text-muted">Score:</span>
                        <span class="text-muted" th:text="${comment.score}"></span>
                    </div>
                    <div class="panel-body" th:text="${comment.text}"></div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>

