<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Restaurants</title>

</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<body>
<div class="container">
    <div class="jumbotron" align="center">
        <h1 th:text="${restaurant.name}" text-transform="uppercase"></h1>

        <div class="row marketing">
            <div class="col-lg-6">
                <label class="lead"> Likes: </label>
                <label class="lead" th:text="${likes}"></label>
            </div>

            <div class="col-lg-6">
                <label class="lead">Score: </label>
                <label class="lead" th:text="${averageScore}"></label>
            </div>
        </div>
    </div>

    <p class="lead" th:text="${restaurant.description}" align="center"></p>

    <h4 class="bold">Photos: </h4>

    <div class="row marketing">
        <div class="col-lg-6" th:each="photo : ${photos}" >
            <img th:src= "@{'data:image/jpg;base64,' +  ${photo}}" width="400"/>
        </div>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4 class="bold">Categories: </h4>
            <div th:each="category: ${restaurant.categories}">
                <p class="lead" th:text="${category.name}"></p>
            </div>
        </div>

        <div class="col-lg-6">
            <h4 class="bold">City: </h4>
            <p class="lead" th:text="${restaurant.city.name}"></p>
        </div>
    </div>

    <br></br>
    <h4 class="bold">Comments: </h4>
    <br></br>
    <div th:each="comment : ${restaurant.comments}">

        <label class="lead" th:text="${comment.text}"></label>
        <br></br>
        <label class="bold" th:text="${comment.user.username}"></label>
        <span>Score: </span><span  th:text="${comment.score}"></span>
        <br></br>
    </div>
</div>
</body>
</html>